#!/usr/bin/env node

var settings = require('./common');

// uncomment and edit lines below if you need to change common config

// settings.application.source.path = '/opengkh';

// settings.user.id = 1000
// settings.user.gid = 1000
// settings.user.homeDir =

// var ip =
// settings.docker.expose.ssh.ip = ip
// settings.docker.expose.ssh.port = 1028;
// settings.docker.expose.web.ip = ip
// settings.docker.expose.web.port = 8081;

// etc...

module.exports = settings;